/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    height: 100%;
}

/** Website Sections **/
.body-wrapper {
    display: flex;
    flex-direction: column;
}

.body-wrapper * {
    text-align: center;
}

/* Header */
.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-wrapper > * {
    margin: 15px 0px;
}

/* Game */
.game-wrapper {
    align-self: center;
    margin: 10px 0px;
    background-image: url("/tic-tac-toe-game/images/board.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.position {
    margin: 20px;
}

.position:hover {
    cursor: pointer;
    background-color: #b084cc;
    border-radius: 10px;
}

/* Result and Restart */
.result-restart-wrapper {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-restart-wrapper > * {
    margin: 10px 0px;
}


/* Utilities */
.btn {
    padding: 1% 3%;
    border: none;
    border-radius: 10px;
    background-color: #190933;
    color: #ffffff;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    background-color: #665687;
}


/* Media Query */

